# AI-Powered Lung Disease Detection — Backend Environment Template

# App
APP_NAME="Lung Disease Detection API"
DEBUG=false
API_V1_PREFIX=/api/v1
NEXT_PUBLIC_API_URL=http://<YOUR_EC2_PUBLIC_IP>:8000/api/v1

# Database (PostgreSQL)
DATABASE_URL=postgresql+asyncpg://<DB_USER>:<DB_PASS>@postgres:5432/<DB_NAME>
DB_POOL_SIZE=20
DB_MAX_OVERFLOW=10

# Used by pg_dump backup task
POSTGRES_USER=<DB_USER>
POSTGRES_PASSWORD=<DB_PASS>
POSTGRES_DB=<DB_NAME>
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# JWT Authentication
JWT_SECRET_KEY=<CHANGE_ME_min_64_chars>
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=30

# OTP (Two-Factor Authentication)
OTP_EXPIRE_MINUTES=5
OTP_MAX_ATTEMPTS=3

# Field-Level Encryption (AES-256-GCM)
FIELD_ENCRYPTION_KEY=<CHANGE_ME_base64_encoded_32_bytes>

# MinIO / AWS S3 Object Storage
MINIO_ENDPOINT=s3.amazonaws.com
MINIO_ACCESS_KEY=<YOUR_AWS_ACCESS_KEY>
MINIO_SECRET_KEY=<YOUR_AWS_SECRET_KEY>
MINIO_BUCKET_IMAGES=<YOUR_AWS_S3_BUCKET_NAME>
MINIO_BUCKET_REPORTS=<YOUR_AWS_S3_BUCKET_NAME>
MINIO_SECURE=true
PRESIGNED_URL_EXPIRE_SECONDS=900
MINIO_EXTERNAL_HOST=

BACKUP_BUCKET=db-backups
BACKUP_RETENTION_DAYS=180

# Frontend / CORS
FRONTEND_URL=http://<YOUR_EC2_PUBLIC_IP>:3000

# Email (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<YOUR_GMAIL>
SMTP_PASSWORD=<YOUR_GMAIL_APP_PASSWORD>
EMAIL_FROM=<YOUR_GMAIL>

# Dev Flags
SEED_TEST_USERS=false
SKIP_OTP=false

# AI Service (Real one)
AI_SERVICE_URL=https://demicktronus-lung-disease-detector-api.hf.space
AI_INFERENCE_TIMEOUT_SECONDS=2400
AI_INTERNAL_API_KEY=bibidibabudibou
AI_MODEL_VERSION=v1.0.0
