torch==2.1.0
torchvision==0.16.0
opencv-python-headless
numpy<2
fastapi[standard]
uvicorn
ultralytics
timm
lungmask
SimpleITK
ensemble-boxes
albumentations
minio
python-dotenv
pydicom
matplotlib
httpx
